text {
	font-family: 'Nunito';
}

/* On screens that are 900px or less, set width timeline */
@media screen and (max-width: 900px) {
	#reactgooglegraph-1 {
		width: 1200px;
	}
}
#chart_wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
}
